<div layout="column" style="height:600px" ng-cloak>
  <md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
        <span>Messages</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content flex ng-controller="ReadMessageController as vm" id="messages">
     <md-list>
        <div ng-repeat="m in vm.messages">
      <md-list-item class="md-3-line">
        <img ng-src="{{m.img}}" alt="{{m.name}}" class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{m.name}}</h3>
          <p>
            {{m.msg}}
          </p>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
  </div>
    </md-list>

  </md-content>

</div>
